<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Gastão</title>
</head>
<header>

</header>
<body>
    <summary id="side-bar">
        <p id="bar-logo"><strong>Ga<span id="logo2">$</span>tão</strong></p>
        <a href=""><i class="fa-solid fa-user"></i> Perfil</a>
        <a href=""><i class="fa-solid fa-chart-simple"></i> Gráficos</a>
        <a href=""><i class="fa-solid fa-clock-rotate-left"></i> Histórico</a>
        <a href="">TESTE</a>
        <a href="">TESTE</a>
        <a href="">TESTE</a>
    </summary>
    <section id="dashboard">
        <div class="long-card">
            
        </div>
    </section>
    <h1>Ga<span id="logo">$</span>tão</h1>
    <p>corpo do site</p>
    <table id="tabela">
        <thead>
            <tr>
                <th>Teste</th>
                <th>Teste</th>
                <th>Teste</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>BOA</th>
                <th>BOA</th>
                <th>BOA</th>
            </tr>
            <tr>
                <th>BOA</th>
                <th>BOA</th>
                <th>BOA</th>
            </tr>
        </tbody>
    </table>
</body>
<script th:src="@{/index.js}"></script>
</html>